<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <div class="cs-container">
        <p class="cs-brand">
            good company club <span class="cs-divider">·</span> toronto, on
        </p>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/privacy/">privacy</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/terms/">terms</a>
            </li>
        </ul>
    </div>
</footer>