<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <a href="/" class="cs-logo" aria-label="The Good Company Club home page">
            <img src="https://websthetic.tor1.cdn.digitaloceanspaces.com/the-good-co-club/the-good-co-club-logo-red.svg" alt="The Good Company Club" width="64" height="64" decoding="async">
        </a>
    </div>
</header>